 
 .table-form-container{
    flex-direction: column;
    position: fixed;
    top: 50px; 
    width: 50%; 
    justify-content: center; 
     margin-left: 400px;    
     display: flex;
}
.table-form-container > * {
    display: block;  
    margin: 30px; 
}
 .categories-container {
    flex-direction: column;
    position: fixed;
    top: 120px;
     width: 50%;
    height: 23px;
    justify-content: center;
     margin-left: 400px;    
     display: flex; 
 }
 .categories-container > * {
    display: block; 
    margin: 30px;
  }
 .category-table{
     
    background-color:#11101d;
 }
 table, th, td {
    border: 1px solid white ;
    border-collapse: collapse; 
    color: #fff; 
  }
  table th {
    padding: 10px;
  }
  table tr td{  
    padding: 10px;
}
    h1{
    text-align: center;
    }
    .buttons{
  text-align: center;
}
.categoryinput{
  display: flex; 
  align-items: center; 
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 10px;
  width: 1px;
}

#categoryform {
  display:flex; 
  flex-direction: row;
}
#categoryform > input{
  width:100px; 
}