#formdiv{
    display:flex; 
    padding-top: 0px;
    flex-direction: column;
    justify-content: center;    
     
}

.form input{
     display: block;
    width: 100%;
    padding: .1rem .1rem .1rem .1rem;
    margin: .5vw 0 ;
    border:10;   
    border-radius: 10px;
    font-size: 10px;
}
button{
     display: inline-block;
    width: 15%;
    height: 2rem;
    color: #11101d;
    border: 50;
    bottom: 10;
    cursor: pointer;
    font-size: 10px;
    position:absolute;
    margin-left: 40%;
}
button:hover{
    background-color: rgb(245, 245, 78);
    transition: 1s background ease;
}

