#Formdiv{
    flex-direction: row;
    position: fixed;
     width: 50%;
    height: 23px;
    justify-content: center;
     margin-left: 400px;    
     display: flex;
}
#Form > * {
    display: block; 
    margin: 30px;
}
.form{
    display: flex; 
    flex-direction: column;
}