.table-form-container{
    flex-direction: column;
    position: fixed;
    top: 50px; 
    width: 50%; 
    justify-content: center; 
     margin-left: 400px;    
     display: flex;
}
.table-form-container > * {
    display: block;  
    margin: 30px; 
}